* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none !important;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: #09021e;
}

canvas {
  display: block;
  position: absolute;
  z-index: -1;
}

#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  mix-blend-mode: difference;
}

#cursor-shape {
  width: 20px;
  height: 20px;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 50%;
  background: #4cc9f0;
  -webkit-transition: padding 0.75s cubic-bezier(0.25, 0, 0, 1);
  transition: padding 0.75s cubic-bezier(0.25, 0, 0, 1);
}

#cursor-shape.mouseover {
  padding: 30px;
}

main {
  position: fixed;
  width: 100%;
  height: 100vh;
}

main .homeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  position: fixed;
}

main .homeContainer .open {
  display: none;
}

main .homeContainer .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .homeContainer .title {
  width: 50vw;
  position: relative;
}

main .homeContainer .neon_2020 {
  position: absolute;
  width: 50vw;
  fill: none;
  stroke: #4cc9f0;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  opacity: .2;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

main .homeContainer .neon_2020-a {
  stroke: #f72585;
  opacity: .7;
}

.btn {
  width: 15vw;
  height: 6vh;
  outline: none;
  border: none;
  font-family: "littleTitle";
  font-size: 1.85vh;
  letter-spacing: .15vw;
  background: #09021e;
  color: #4cc9f0;
  border: 1px solid #4cc9f0;
}

.btn__start {
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.75s cubic-bezier(0.25, 0, 0, 1);
  transition: 0.75s cubic-bezier(0.25, 0, 0, 1);
}

.btn__start:hover {
  background: #4cc9f0;
  color: #09021e;
  border: 1px solid #09021e;
}

.btn__start .spanContainerMouseout.neonText {
  -webkit-animation: blinkBtn 4s infinite alternate;
          animation: blinkBtn 4s infinite alternate;
}

.btn__start .spanContainerMouseover,
.btn__start .spanContainerMouseout {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-clip-path: inset(35% 0 35% 0);
          clip-path: inset(35% 0 35% 0);
}

.btn__start .spanContainerMouseover span,
.btn__start .spanContainerMouseout span {
  display: inline-block;
  line-height: 6vh;
}

.btn__start .spanContainerMouseout span {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.btn__backHome {
  top: 2%;
  left: .5%;
  position: absolute;
  z-index: 2;
  -webkit-clip-path: inset(0% 100% 0% 0%);
          clip-path: inset(0% 100% 0% 0%);
}

.btn__backHome.open {
  pointer-events: all;
}

.btn__backHome.close {
  pointer-events: none;
}

.colContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.colContainer .col {
  -webkit-clip-path: inset(100% 0% 0% 0%);
          clip-path: inset(100% 0% 0% 0%);
}

.rowContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.rowContainer .row {
  -webkit-clip-path: inset(0% 0% 0% 100%);
          clip-path: inset(0% 0% 0% 100%);
}

.row {
  width: 100%;
  height: 2px;
  background: #0d0437;
  margin-top: 20px;
  opacity: .65;
}

.row.line {
  width: 0;
  position: absolute;
  height: 2px;
  background: #1b355e;
  z-index: -1;
  opacity: 0.35;
}

.row.line__1 {
  bottom: 6.1%;
}

.row.line__2 {
  bottom: 1.8%;
}

.col {
  width: 2px;
  height: 100vh;
  background: #0d0437;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  opacity: .65;
}

.col.line {
  width: 2px;
  height: 0;
  background: #1b355e;
  position: absolute;
  z-index: -1;
  opacity: 0.35;
}

.col.line__1 {
  right: 0;
}

.col.line__2 {
  right: 0;
}

.sm {
  width: 2.3%;
  height: 4.3%;
  position: absolute;
  right: .9%;
  color: #4cc9f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  font-family: 'littleTitle';
  letter-spacing: 2px;
  overflow: hidden;
  font-weight: 600;
}

.sm.neonText {
  text-shadow: 0px;
  -webkit-animation: blink 4s infinite alternate;
          animation: blink 4s infinite alternate;
}

@-webkit-keyframes blink {
  30% {
    opacity: 1;
    text-shadow: 0 0 0 #4cc9f0, 0 0 2px #4cc9f0, 0 0 2px #4cc9f0;
  }
  32% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes blink {
  30% {
    opacity: 1;
    text-shadow: 0 0 0 #4cc9f0, 0 0 2px #4cc9f0, 0 0 2px #4cc9f0;
  }
  32% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@-webkit-keyframes blinkBtn {
  30% {
    opacity: 1;
    text-shadow: 0 0 0 #09021e, 0 0 1px #09021e, 0 0 1px #09021e;
  }
  32% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes blinkBtn {
  30% {
    opacity: 1;
    text-shadow: 0 0 0 #09021e, 0 0 1px #09021e, 0 0 1px #09021e;
  }
  32% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@-webkit-keyframes inSM {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes inSM {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes outSM {
  to {
    -webkit-transform: translateX(165%);
            transform: translateX(165%);
  }
}

@keyframes outSM {
  to {
    -webkit-transform: translateX(165%);
            transform: translateX(165%);
  }
}

@-webkit-keyframes outImpairSM {
  to {
    -webkit-transform: translateX(-165%);
            transform: translateX(-165%);
  }
}

@keyframes outImpairSM {
  to {
    -webkit-transform: translateX(-165%);
            transform: translateX(-165%);
  }
}

.sm__1 {
  bottom: .9%;
}

.sm__1.mouseover::after {
  content: "FB";
  position: absolute;
  -webkit-animation: outSM .5s ease forwards;
          animation: outSM .5s ease forwards;
}

.sm__1.mouseover::before {
  content: "FB";
  position: absolute;
  -webkit-transform: translateX(-165%);
          transform: translateX(-165%);
  -webkit-animation: inSM .5s ease forwards;
          animation: inSM .5s ease forwards;
}

.sm__1.mouseout::after {
  content: "FB";
  position: absolute;
  -webkit-animation: inSM .5s ease forwards;
          animation: inSM .5s ease forwards;
  -webkit-transform: translateX(-165%);
          transform: translateX(-165%);
}

.sm__1.mouseout::before {
  content: "FB";
  position: absolute;
  -webkit-animation: outSM .5s ease forwards;
          animation: outSM .5s ease forwards;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sm__2 {
  bottom: 5.5%;
}

.sm__2.mouseover::after {
  content: "IG";
  position: absolute;
  -webkit-animation: outImpairSM .5s ease forwards;
          animation: outImpairSM .5s ease forwards;
}

.sm__2.mouseover::before {
  content: "IG";
  position: absolute;
  -webkit-transform: translateX(165%);
          transform: translateX(165%);
  -webkit-animation: inSM .5s ease forwards;
          animation: inSM .5s ease forwards;
}

.sm__2.mouseout::after {
  content: "IG";
  position: absolute;
  -webkit-animation: inSM .5s ease forwards;
          animation: inSM .5s ease forwards;
  -webkit-transform: translateX(165%);
          transform: translateX(165%);
}

.sm__2.mouseout::before {
  content: "IG";
  position: absolute;
  -webkit-animation: outImpairSM .5s ease forwards;
          animation: outImpairSM .5s ease forwards;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sm__3 {
  bottom: 10.1%;
}

.sm__3.mouseover::after {
  content: "IN";
  position: absolute;
  -webkit-animation: outSM .5s ease forwards;
          animation: outSM .5s ease forwards;
}

.sm__3.mouseover::before {
  content: "IN";
  position: absolute;
  -webkit-transform: translateX(-165%);
          transform: translateX(-165%);
  -webkit-animation: inSM .5s ease forwards;
          animation: inSM .5s ease forwards;
}

.sm__3.mouseout::after {
  content: "IN";
  position: absolute;
  -webkit-animation: inSM .5s ease forwards;
          animation: inSM .5s ease forwards;
  -webkit-transform: translateX(-165%);
          transform: translateX(-165%);
}

.sm__3.mouseout::before {
  content: "IN";
  position: absolute;
  -webkit-animation: outSM .5s ease forwards;
          animation: outSM .5s ease forwards;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.musicBtn {
  width: 8.1%;
  height: 10%;
  bottom: 1.8%;
  height: 4.3%;
  left: .5%;
  position: absolute;
  background: #4cc9f0;
  opacity: .1;
  z-index: 3;
}

@font-face {
  font-family: "main";
  src: url("/assets/font/margaret-bold.woff2") format("woff2"), url("/assets/font/margaret-bold.woff") format("woff");
}

@font-face {
  font-family: "littleTitle";
  src: url("/assets/font/syn_nova_regular.woff2") format("woff2"), url("/assets/font/syn_nova_regular.woff") format("woff");
}

@font-face {
  font-family: "text";
  src: url("/assets/font/titilliumweb-regular.woff2") format("woff2"), url("/assets/font/titilliumweb-regular.woff") format("woff");
}
/*# sourceMappingURL=main.css.map */