@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #09021e;
  overflow: hidden;
}

canvas {
  display: block;
  position: absolute;
  z-index: -1;
  opacity: 1;
}

canvas.hologramActive {
  -webkit-transition: mix-blend-mode 2s cubic-bezier(0.25, 0, 0, 1);
  transition: mix-blend-mode 2s cubic-bezier(0.25, 0, 0, 1);
}

canvas.hologramDefault {
  -webkit-transition: mix-blend-mode 2s cubic-bezier(0.25, 0, 0, 1);
  transition: mix-blend-mode 2s cubic-bezier(0.25, 0, 0, 1);
}

@-webkit-keyframes blinkCanvas {
  30% {
    opacity: 1;
  }
  32% {
    opacity: .7;
  }
  33% {
    opacity: 1;
  }
  35% {
    opacity: .7;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: .7;
  }
  82% {
    opacity: 1;
  }
  85% {
    opacity: .8;
  }
  87% {
    opacity: 1;
  }
}

@keyframes blinkCanvas {
  30% {
    opacity: 1;
  }
  32% {
    opacity: .7;
  }
  33% {
    opacity: 1;
  }
  35% {
    opacity: .7;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: .7;
  }
  82% {
    opacity: 1;
  }
  85% {
    opacity: .8;
  }
  87% {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .cursor {
    display: none;
  }
  .cursor-shape_out {
    display: none;
  }
  .cursor-shape_out.mouseover {
    display: none;
  }
}

.cursor {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  mix-blend-mode: difference;
}

.cursor-shape_in {
  position: absolute;
  pointer-events: none;
  border-radius: 50px;
  left: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  background: #4cc9f0;
  -webkit-transition: opacity 0.75s cubic-bezier(0.25, 0, 0, 1);
  transition: opacity 0.75s cubic-bezier(0.25, 0, 0, 1);
}

.cursor-shape_in.mouseover {
  -webkit-transition: opacity 0.5s cubic-bezier(0.25, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.25, 0, 0, 1);
  opacity: 0;
}

.cursor-shape_out {
  mix-blend-mode: difference;
  z-index: 99;
  position: absolute;
  pointer-events: none;
  border-radius: 50px;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border: #4cc9f0 solid 1px;
  -webkit-transition: padding 0.75s cubic-bezier(0.25, 0, 0, 1);
  transition: padding 0.75s cubic-bezier(0.25, 0, 0, 1);
  -webkit-animation: blinkTitle 8s infinite ease-in-out alternate;
          animation: blinkTitle 8s infinite ease-in-out alternate;
}

main {
  position: fixed;
  width: 100%;
  height: 100vh;
}

main .homeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  position: fixed;
}

main .homeContainer .open {
  display: none;
}

main .homeContainer .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .homeContainer .title {
  width: 50vw;
  -webkit-animation: blinkTitle 8s infinite ease-in-out alternate;
          animation: blinkTitle 8s infinite ease-in-out alternate;
}

main .homeContainer .littleTitle {
  width: 7vw;
  position: absolute;
  right: 2vw;
  top: 2.2vh;
}

main .homeContainer .title path,
main .homeContainer .title line {
  fill: none;
  stroke: #4CC9F0;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dashoffset: -1000;
  stroke-dasharray: 1000;
}

main .homeContainer .pathTitleIn {
  -webkit-animation: titleIn 8s forwards ease-in-out;
          animation: titleIn 8s forwards ease-in-out;
}

main .homeContainer .pathLineIn {
  -webkit-animation: lineIn 6.5s forwards ease-in-out;
          animation: lineIn 6.5s forwards ease-in-out;
}

main .homeContainer .pathTitleOut {
  -webkit-animation: titleOut 8s forwards ease-in-out;
          animation: titleOut 8s forwards ease-in-out;
}

main .homeContainer .pathLineOut {
  -webkit-animation: lineOut 6.5s forwards ease-in-out;
          animation: lineOut 6.5s forwards ease-in-out;
}

@-webkit-keyframes titleIn {
  0% {
    stroke-dashoffset: -1000;
  }
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  45% {
    fill: #4cc9f0;
  }
  70% {
    fill: #4cc9f0;
  }
  100% {
    fill: #4cc9f0;
    stroke-dashoffset: 0;
  }
}

@keyframes titleIn {
  0% {
    stroke-dashoffset: -1000;
  }
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  45% {
    fill: #4cc9f0;
  }
  70% {
    fill: #4cc9f0;
  }
  100% {
    fill: #4cc9f0;
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes titleOut {
  0% {
    stroke-dashoffset: 0;
    fill: #4cc9f0;
  }
  10% {
    fill: transparent;
  }
  80% {
    stroke-dashoffset: -1000;
    fill: transparent;
  }
  85% {
    fill: transparent;
  }
  100% {
    fill: transparent;
    stroke-dashoffset: -1000;
  }
}

@keyframes titleOut {
  0% {
    stroke-dashoffset: 0;
    fill: #4cc9f0;
  }
  10% {
    fill: transparent;
  }
  80% {
    stroke-dashoffset: -1000;
    fill: transparent;
  }
  85% {
    fill: transparent;
  }
  100% {
    fill: transparent;
    stroke-dashoffset: -1000;
  }
}

@-webkit-keyframes lineIn {
  0% {
    stroke-dashoffset: -1000;
    stroke-width: 0.5px;
  }
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
    stroke-width: 0.5px;
  }
  45% {
    fill: transparent;
    stroke-width: 0.5px;
  }
  70% {
    stroke-width: 4px;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-width: 4px;
    stroke-dashoffset: 0;
  }
}

@keyframes lineIn {
  0% {
    stroke-dashoffset: -1000;
    stroke-width: 0.5px;
  }
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
    stroke-width: 0.5px;
  }
  45% {
    fill: transparent;
    stroke-width: 0.5px;
  }
  70% {
    stroke-width: 4px;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-width: 4px;
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes lineOut {
  0% {
    stroke-dashoffset: 0;
    stroke-width: 4px;
  }
  10% {
    stroke-width: 0.5px;
  }
  80% {
    stroke-dashoffset: -1000;
    stroke-width: 0.5px;
  }
  85% {
    stroke-width: 0.5px;
  }
  100% {
    stroke-width: 0.5px;
    stroke-dashoffset: -1000;
  }
}

@keyframes lineOut {
  0% {
    stroke-dashoffset: 0;
    stroke-width: 4px;
  }
  10% {
    stroke-width: 0.5px;
  }
  80% {
    stroke-dashoffset: -1000;
    stroke-width: 0.5px;
  }
  85% {
    stroke-width: 0.5px;
  }
  100% {
    stroke-width: 0.5px;
    stroke-dashoffset: -1000;
  }
}

@-webkit-keyframes blinkTitle {
  0% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 1.5px #4cc9f0);
            filter: drop-shadow(0 0 1.5px #4cc9f0);
  }
  20% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 3px #4cc9f0);
            filter: drop-shadow(0 0 3px #4cc9f0);
  }
  40% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 1.5px #4cc9f0);
            filter: drop-shadow(0 0 1.5px #4cc9f0);
  }
  60% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 3px #4cc9f0);
            filter: drop-shadow(0 0 3px #4cc9f0);
  }
  80% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 1.5px #4cc9f0);
            filter: drop-shadow(0 0 1.5px #4cc9f0);
  }
  100% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 3px #4cc9f0);
            filter: drop-shadow(0 0 3px #4cc9f0);
  }
}

@keyframes blinkTitle {
  0% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 1.5px #4cc9f0);
            filter: drop-shadow(0 0 1.5px #4cc9f0);
  }
  20% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 3px #4cc9f0);
            filter: drop-shadow(0 0 3px #4cc9f0);
  }
  40% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 1.5px #4cc9f0);
            filter: drop-shadow(0 0 1.5px #4cc9f0);
  }
  60% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 3px #4cc9f0);
            filter: drop-shadow(0 0 3px #4cc9f0);
  }
  80% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 1.5px #4cc9f0);
            filter: drop-shadow(0 0 1.5px #4cc9f0);
  }
  100% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 3px #4cc9f0);
            filter: drop-shadow(0 0 3px #4cc9f0);
  }
}

.btn {
  outline: none;
  border: none;
  font-family: "littleTitle";
  font-size: 17px;
  letter-spacing: 1px;
  background: #09021e;
  color: #4cc9f0;
  border: 1px solid #4cc9f0;
  width: 235px;
  height: 57px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.75s cubic-bezier(0.25, 0, 0, 1);
  transition: 0.75s cubic-bezier(0.25, 0, 0, 1);
}

@media screen and (max-width: 600px) {
  .btn {
    width: 54vw;
    font-size: 4.1vw;
    height: 6.5vh;
  }
}

.btn__start:hover {
  background: #4cc9f0;
  color: #09021e;
  border: 1px solid #09021e;
}

.btn__start .spanContainerStartMouseout.neonText {
  -webkit-animation: blinkBtn 4s infinite alternate;
          animation: blinkBtn 4s infinite alternate;
}

.btn__start .spanContainerStartMouseover,
.btn__start .spanContainerStartMouseout {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-clip-path: inset(35% 0 35% 0);
          clip-path: inset(35% 0 35% 0);
}

.btn__start .spanContainerStartMouseover span,
.btn__start .spanContainerStartMouseout span {
  display: inline-block;
  line-height: 55px;
}

@media screen and (max-width: 600px) {
  .btn__start .spanContainerStartMouseover span,
  .btn__start .spanContainerStartMouseout span {
    line-height: 6.3vh;
  }
}

.btn__start .spanContainerStartMouseout span {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.btn__backHome {
  width: 107px;
  height: 57px;
  top: 2.5%;
  left: 24px;
  position: absolute;
  z-index: 2;
  background: none;
  -webkit-clip-path: inset(0% 100% 0% 0%);
          clip-path: inset(0% 100% 0% 0%);
  -webkit-transition: 0.75s cubic-bezier(0.25, 0, 0, 1);
  transition: 0.75s cubic-bezier(0.25, 0, 0, 1);
}

@media screen and (max-width: 600px) {
  .btn__backHome {
    width: 22.5vw;
    height: 6.5vh;
    left: 2%;
    top: 1.2%;
  }
}

.btn__backHome.open {
  pointer-events: all;
}

.btn__backHome.close {
  pointer-events: none;
}

.btn__backHome:hover {
  background: #4cc9f0;
  color: #09021e;
  border: 1px solid #09021e;
}

.btn__backHome .spanContainerBackMouseout.neonText {
  -webkit-animation: blinkBtn 4s infinite alternate;
          animation: blinkBtn 4s infinite alternate;
}

.btn__backHome .spanContainerBackMouseover,
.btn__backHome .spanContainerBackMouseout {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-clip-path: inset(35% 0 35% 0);
          clip-path: inset(35% 0 35% 0);
}

.btn__backHome .spanContainerBackMouseover span,
.btn__backHome .spanContainerBackMouseout span {
  display: inline-block;
  line-height: 55px;
}

@media screen and (max-width: 600px) {
  .btn__backHome .spanContainerBackMouseover span,
  .btn__backHome .spanContainerBackMouseout span {
    line-height: 6.3vh;
  }
}

.btn__backHome .spanContainerBackMouseout span {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

@media screen and (max-width: 600px) {
  .btn__backHome {
    width: 22.5vw;
    height: 6.5vh;
    left: 2%;
    top: 1.2%;
  }
}

.colContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.colContainer .col {
  -webkit-clip-path: inset(100% 0% 0% 0%);
          clip-path: inset(100% 0% 0% 0%);
}

.rowContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.rowContainer .row {
  -webkit-clip-path: inset(0% 0% 0% 100%);
          clip-path: inset(0% 0% 0% 100%);
}

.row {
  width: 100%;
  height: 2px;
  background: #0d0437;
  margin-top: 20px;
  opacity: .65;
}

.row.line {
  width: 0;
  position: absolute;
  height: 2px;
  background: #1b355e;
  z-index: -1;
  opacity: 0.35;
}

.row.line__1 {
  bottom: 6.1%;
}

.row.line__2 {
  bottom: 1.8%;
}

.col {
  width: 2px;
  height: 100vh;
  background: #0d0437;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  opacity: .65;
}

.col.line {
  width: 2px;
  height: 0;
  background: #1b355e;
  position: absolute;
  z-index: -1;
  opacity: 0.35;
}

.col.line__1 {
  right: 0;
}

.col.line__2 {
  right: 0;
}

.sm {
  width: 42px;
  height: 42px;
  position: absolute;
  right: 18px;
  color: #4cc9f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  font-family: 'littleTitle';
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .sm {
    right: .8%;
    font-size: 3.3vw;
    width: 30px;
    height: 30px;
  }
}

.sm.neonText {
  text-shadow: 0px;
  -webkit-animation: blink 4s infinite alternate;
          animation: blink 4s infinite alternate;
}

@-webkit-keyframes blink {
  30% {
    opacity: 1;
    text-shadow: 0 0 0 #4cc9f0, 0 0 2px #4cc9f0, 0 0 2px #4cc9f0;
  }
  32% {
    opacity: .25;
  }
  33% {
    opacity: 1;
  }
  35% {
    opacity: .25;
  }
  40% {
    opacity: 1;
  }
}

@keyframes blink {
  30% {
    opacity: 1;
    text-shadow: 0 0 0 #4cc9f0, 0 0 2px #4cc9f0, 0 0 2px #4cc9f0;
  }
  32% {
    opacity: .25;
  }
  33% {
    opacity: 1;
  }
  35% {
    opacity: .25;
  }
  40% {
    opacity: 1;
  }
}

@-webkit-keyframes blinkBtn {
  30% {
    opacity: 1;
    text-shadow: 0 0 0 #09021e, 0 0 2px #09021e, 0 0 1px #09021e;
  }
  32% {
    opacity: .25;
  }
  33% {
    opacity: 1;
  }
  35% {
    opacity: .25;
  }
  40% {
    opacity: 1;
  }
}

@keyframes blinkBtn {
  30% {
    opacity: 1;
    text-shadow: 0 0 0 #09021e, 0 0 2px #09021e, 0 0 1px #09021e;
  }
  32% {
    opacity: .25;
  }
  33% {
    opacity: 1;
  }
  35% {
    opacity: .25;
  }
  40% {
    opacity: 1;
  }
}

@-webkit-keyframes inSM {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes inSM {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes outSM {
  to {
    -webkit-transform: translateX(165%);
            transform: translateX(165%);
  }
}

@keyframes outSM {
  to {
    -webkit-transform: translateX(165%);
            transform: translateX(165%);
  }
}

@-webkit-keyframes outImpairSM {
  to {
    -webkit-transform: translateX(-165%);
            transform: translateX(-165%);
  }
}

@keyframes outImpairSM {
  to {
    -webkit-transform: translateX(-165%);
            transform: translateX(-165%);
  }
}

.sm__1 {
  bottom: 1.8%;
}

@media screen and (max-width: 600px) {
  .sm__1 {
    bottom: .5%;
  }
}

.sm__1.mouseover::after {
  content: "FB";
  position: absolute;
  -webkit-animation: outSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: outSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
}

.sm__1.mouseover::before {
  content: "FB";
  position: absolute;
  -webkit-transform: translateX(-165%);
          transform: translateX(-165%);
  -webkit-animation: inSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: inSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
}

.sm__1.mouseout::after {
  content: "FB";
  position: absolute;
  -webkit-animation: inSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: inSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
  -webkit-transform: translateX(-165%);
          transform: translateX(-165%);
}

.sm__1.mouseout::before {
  content: "FB";
  position: absolute;
  -webkit-animation: outSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: outSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sm__2 {
  bottom: 6.2%;
}

@media screen and (max-width: 600px) {
  .sm__2 {
    bottom: 5.5%;
  }
}

.sm__2.mouseover::after {
  content: "IG";
  position: absolute;
  -webkit-animation: outImpairSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: outImpairSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
}

.sm__2.mouseover::before {
  content: "IG";
  position: absolute;
  -webkit-transform: translateX(165%);
          transform: translateX(165%);
  -webkit-animation: inSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: inSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
}

.sm__2.mouseout::after {
  content: "IG";
  position: absolute;
  -webkit-animation: inSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: inSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
  -webkit-transform: translateX(165%);
          transform: translateX(165%);
}

.sm__2.mouseout::before {
  content: "IG";
  position: absolute;
  -webkit-animation: outImpairSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: outImpairSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sm__3 {
  bottom: 10.6%;
}

@media screen and (max-width: 600px) {
  .sm__3 {
    bottom: 10.5%;
  }
}

.sm__3.mouseover::after {
  content: "IN";
  position: absolute;
  -webkit-animation: outSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: outSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
}

.sm__3.mouseover::before {
  content: "IN";
  position: absolute;
  -webkit-transform: translateX(-165%);
          transform: translateX(-165%);
  -webkit-animation: inSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: inSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
}

.sm__3.mouseout::after {
  content: "IN";
  position: absolute;
  -webkit-animation: inSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: inSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
  -webkit-transform: translateX(-165%);
          transform: translateX(-165%);
}

.sm__3.mouseout::before {
  content: "IN";
  position: absolute;
  -webkit-animation: outSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: outSM 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.containerTimeline {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 27.7vh;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 18px 0 25px;
  overflow: hidden;
  -webkit-transition: 0.75s cubic-bezier(0.75, 0, 0, 1);
  transition: 0.75s cubic-bezier(0.75, 0, 0, 1);
  -webkit-clip-path: inset(0 0 0 70%);
          clip-path: inset(0 0 0 70%);
  text-align: center;
}

.containerTimeline .timelineIndication .indication {
  color: #4cc9f0;
  font-family: "littleTitle";
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 8px;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: 22px;
  top: 50%;
  opacity: 1;
  -webkit-transition: 0.5s cubic-bezier(0.75, 0, 0, 1);
  transition: 0.5s cubic-bezier(0.75, 0, 0, 1);
  -webkit-filter: blur(0);
          filter: blur(0);
}

.containerTimeline .timelineIndication .indication.switch {
  opacity: 0;
  letter-spacing: 25px;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.containerTimeline .workShopButton {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: .6vh 0 .6vh 0;
  padding: 0 10px 0 10px;
  font-family: "littleTitle";
  overflow: hidden;
  color: #4cc9f0;
  font-size: 17px;
  letter-spacing: .5px;
  position: relative;
  -webkit-transition: 0.5s cubic-bezier(0.75, 0, 0, 1);
  transition: 0.5s cubic-bezier(0.75, 0, 0, 1);
  -webkit-clip-path: inset(0 0 0 99%);
          clip-path: inset(0 0 0 99%);
  font-weight: normal;
}

.containerTimeline .workShopButton:hover {
  color: #09021e;
  font-weight: bold;
}

.containerTimeline .workShopButton::before {
  content: " ";
  width: 2px;
  right: 0;
  position: absolute;
  background: #4cc9f0;
  -webkit-transition: 0.5s cubic-bezier(0.75, 0, 0, 1);
  transition: 0.5s cubic-bezier(0.75, 0, 0, 1);
  z-index: -1;
}

.containerTimeline .workShopButton:hover::before {
  width: 100%;
  background: #4cc9f0;
  right: 0;
}

.containerTimeline .workShopButton__1::after, .containerTimeline .workShopButton__2::after, .containerTimeline .workShopButton__3::after, .containerTimeline .workShopButton__4::after, .containerTimeline .workShopButton__5::after, .containerTimeline .workShopButton__6::after, .containerTimeline .workShopButton__7::after, .containerTimeline .workShopButton__8::after, .containerTimeline .workShopButton__9::after, .containerTimeline .workShopButton__10::after, .containerTimeline .workShopButton__11::after, .containerTimeline .workShopButton__12::after, .containerTimeline .workShopButton__13::after, .containerTimeline .workShopButton__14::after {
  content: " ";
  position: absolute;
  left: 0;
  padding: 0 20px 0 20px;
  -webkit-transition: 0.5s cubic-bezier(0.75, 0, 0, 1);
  transition: 0.5s cubic-bezier(0.75, 0, 0, 1);
  width: 100%;
  height: 100%;
  background: #4cc9f0;
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
  z-index: -1;
}

.containerTimeline .workShopButton__1:hover::after, .containerTimeline .workShopButton__2:hover::after, .containerTimeline .workShopButton__3:hover::after, .containerTimeline .workShopButton__4:hover::after, .containerTimeline .workShopButton__5:hover::after, .containerTimeline .workShopButton__6:hover::after, .containerTimeline .workShopButton__7:hover::after, .containerTimeline .workShopButton__8:hover::after, .containerTimeline .workShopButton__9:hover::after, .containerTimeline .workShopButton__10:hover::after, .containerTimeline .workShopButton__11:hover::after, .containerTimeline .workShopButton__12:hover::after, .containerTimeline .workShopButton__13:hover::after, .containerTimeline .workShopButton__14:hover::after {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.containerTimeline .workShopButton .mask {
  position: absolute;
  width: 100%;
  right: 0;
  background: #4cc9f0;
}

.musicBtn {
  width: 8.1%;
  height: 10%;
  bottom: 1.8%;
  height: 4.3%;
  left: .5%;
  position: absolute;
  background: #4cc9f0;
  opacity: .1;
  z-index: 3;
  display: none;
}

@font-face {
  font-family: "main";
  src: url("/assets/font/margaret-bold.woff2") format("woff2"), url("/assets/font/margaret-bold.woff") format("woff");
}

@font-face {
  font-family: "littleTitle";
  src: url("/assets/font/syn_nova_regular.woff2") format("woff2"), url("/assets/font/syn_nova_regular.woff") format("woff");
}

@font-face {
  font-family: "text";
  src: url("/assets/font/titilliumweb-regular.woff2") format("woff2"), url("/assets/font/titilliumweb-regular.woff") format("woff");
}
/*# sourceMappingURL=main.css.map */