$bleu: #09021e;
$cyan: #4cc9f0;
$magenta: #f72585;
* {
    box-sizing: border-box;
    cursor: none!important;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: $bleu;
}

canvas {
    display: block;
    position: absolute;
    z-index: -1;
}

////CURSOR CUSTOM///
#cursor {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    pointer-events: none;
    mix-blend-mode: difference;
}

#cursor-shape {
    width: 20px;
    height: 20px;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    background: $cyan;
    transition: padding .75s cubic-bezier(.25, 0, 0, 1);
}

#cursor-shape.mouseover {
    padding: 30px;
}

main {
    position: fixed;
    width: 100%;
    height: 100vh;
    .homeContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        position: fixed;
        .open {
            display: none;
        }
        .close {
            display: flex;
        }
        .title {
            width: 50vw;
        }
        .littleTitle {
            width: 7vw;
            position: absolute;
            right: 2vw;
            top: 2.2vh;
        }
        .title {
            path,
            circle,
            line {
                fill: none;
                stroke: #4CC9F0;
                stroke-width: 1;
                stroke-miterlimit: 10;
                stroke-dashoffset: -1000;
                stroke-dasharray: 1000;
            }
        }
        .pathTitleIn {
            animation: titleIn 10s forwards ease-in-out;
        }
        .pathLineIn {
            animation: lineIn 8s forwards ease-in-out;
        }
        .pathTitleOut {
            animation: titleOut 8s forwards ease-in-out;
        }
        .pathLineOut {
            animation: lineOut 7.5s forwards ease-in-out;
        }
        @keyframes titleIn {
            0% {
                stroke-width: 1;
                stroke-dashoffset: -1000;
            }
            40% {
                stroke-dashoffset: 0;
                fill: transparent;
            }
            45% {
                stroke-width: 1;
                fill: $cyan;
            }
            70% {
                fill: $cyan;
                stroke-dashoffset: 0;
                stroke-width: 0px;
            }
            100% {
                fill: $cyan;
                stroke-width: 1;
            }
        }
        @keyframes titleOut {
            0% {
                stroke-dashoffset: 0;
                stroke-width: 1px;
                fill: $cyan;
            }
            10% {
                fill: transparent;
            }
            80% {
                stroke-dashoffset: -1000;
                fill: transparent;
            }
            85% {
                fill: transparent;
                stroke-width: 1px;
            }
            100% {
                fill: transparent;
                stroke-dashoffset: -1000;
                stroke-width: 1;
            }
        }
        @keyframes lineIn {
            0% {
                stroke-width: 1;
                stroke-dashoffset: -1000;
            }
            40% {
                stroke-dashoffset: 0;
                fill: transparent;
            }
            45% {
                fill: transparent;
                stroke-width: 1;
            }
            70% {
                stroke-dashoffset: 0;
                stroke-width: 4px;
            }
            100% {
                stroke-dashoffset: 0;
                stroke-width: 4px;
            }
        }
        @keyframes lineOut {
            0% {
                stroke-dashoffset: 0;
                stroke-width: 4px;
            }
            10% {
                stroke-width: 1px;
            }
            80% {
                stroke-dashoffset: -1000;
            }
            85% {
                stroke-width: 1px;
            }
            100% {
                stroke-dashoffset: -1000;
                stroke-width: 0px;
            }
        }
        @keyframes blinkTitle {
            30% {
                opacity: 1;
                filter: drop-shadow(0 0 5px $cyan);
                // filter: blur(5px);
            }
            33% {
                opacity: 1;
                // filter: blur(2px);
            }
            35% {
                opacity: .9;
                filter: drop-shadow(0 0 3px $cyan);
            }
            80% {
                opacity: 1;
                filter: drop-shadow(0 0 1px $cyan);
            }
            100% {
                opacity: 1;
            }
        }
    }
}

.btn {
    width: 15vw;
    height: 6vh;
    outline: none;
    border: none;
    font-family: "littleTitle";
    font-size: 1.85vh;
    letter-spacing: .15vw;
    background: $bleu;
    color: $cyan;
    border: 1px solid $cyan;
    &__start {
        overflow: hidden;
        position: relative;
        transition: .75s cubic-bezier(.25, 0, 0, 1);
        &:hover {
            background: $cyan;
            color: $bleu;
            border: 1px solid $bleu;
        }
        .spanContainerMouseout.neonText {
            animation: blinkBtn 4s infinite alternate;
        }
        .spanContainerMouseover,
        .spanContainerMouseout {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            clip-path: inset(35% 0 35% 0);
        }
        .spanContainerMouseover span,
        .spanContainerMouseout span {
            display: inline-block;
            line-height: 6vh;
        }
        .spanContainerMouseout span {
            transform: translateY(40px);
        }
    }
    &__backHome {
        top: 2%;
        left: .5%;
        position: absolute;
        z-index: 2;
        clip-path: inset(0% 100% 0% 0%);
        &.open {
            pointer-events: all;
        }
        &.close {
            pointer-events: none;
        }
    }
}

////GRID WITH INTERACTIONS///
.colContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    .col {
        clip-path: inset(100% 0% 0% 0%);
    }
}

.rowContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    .row {
        clip-path: inset(0% 0% 0% 100%);
    }
}

.row {
    width: 100%;
    height: 2px;
    background: #0d0437; //4cc9f0
    margin-top: 20px;
    opacity: .65;
    &.line {
        width: 0;
        position: absolute;
        height: 2px;
        background: #1b355e;
        z-index: -1;
        opacity: 0.35;
        &__1 {
            bottom: 6.1%;
        }
        &__2 {
            bottom: 1.8%;
        }
    }
}

.col {
    width: 2px;
    height: 100vh;
    background: #0d0437;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    opacity: .65;
    &.line {
        width: 2px;
        height: 0;
        background: #1b355e;
        position: absolute;
        z-index: -1;
        opacity: 0.35;
        &__1 {
            right: 0;
        }
        &__2 {
            right: 0;
        }
    }
}

////SOCIALS MEDIA///
.sm {
    width: 2.3%;
    height: 4.3%;
    position: absolute;
    right: .9%;
    color: $cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-family: 'littleTitle';
    letter-spacing: 2px;
    overflow: hidden;
    font-weight: 600;
    &.neonText {
        text-shadow: 0px;
        animation: blink 4s infinite alternate;
    }
    @keyframes blink {
        30% {
            opacity: 1;
            text-shadow: 0 0 0 $cyan, 0 0 2px $cyan, 0 0 2px $cyan;
        }
        32% {
            opacity: .25;
        }
        33% {
            opacity: 1;
        }
        35% {
            opacity: .25;
        }
        40% {
            opacity: 1;
        }
    }
    @keyframes blinkBtn {
        30% {
            opacity: 1;
            text-shadow: 0 0 0 $bleu, 0 0 2px $bleu, 0 0 1px $bleu;
        }
        32% {
            opacity: .25;
        }
        33% {
            opacity: 1;
        }
        35% {
            opacity: .25;
        }
        40% {
            opacity: 1;
        }
    }
    @keyframes inSM {
        to {
            transform: translateX(0);
        }
    }
    @keyframes outSM {
        to {
            transform: translateX(165%);
        }
    }
    @keyframes outImpairSM {
        to {
            transform: translateX(-165%);
        }
    }
    &__1 {
        bottom: .9%;
        &.mouseover::after {
            content: "FB";
            position: absolute;
            animation: outSM .5s ease forwards;
        }
        &.mouseover::before {
            content: "FB";
            position: absolute;
            transform: translateX(-165%);
            animation: inSM .5s ease forwards;
        }
        &.mouseout::after {
            content: "FB";
            position: absolute;
            animation: inSM .5s ease forwards;
            transform: translateX(-165%);
        }
        &.mouseout::before {
            content: "FB";
            position: absolute;
            animation: outSM .5s ease forwards;
            transform: translateX(0);
        }
    }
    &__2 {
        bottom: 5.5%;
        &.mouseover::after {
            content: "IG";
            position: absolute;
            animation: outImpairSM .5s ease forwards;
        }
        &.mouseover::before {
            content: "IG";
            position: absolute;
            transform: translateX(165%);
            animation: inSM .5s ease forwards;
        }
        &.mouseout::after {
            content: "IG";
            position: absolute;
            animation: inSM .5s ease forwards;
            transform: translateX(165%);
        }
        &.mouseout::before {
            content: "IG";
            position: absolute;
            animation: outImpairSM .5s ease forwards;
            transform: translateX(0);
        }
    }
    &__3 {
        bottom: 10.1%;
        &.mouseover::after {
            content: "IN";
            position: absolute;
            animation: outSM .5s ease forwards;
        }
        &.mouseover::before {
            content: "IN";
            position: absolute;
            transform: translateX(-165%);
            animation: inSM .5s ease forwards;
        }
        &.mouseout::after {
            content: "IN";
            position: absolute;
            animation: inSM .5s ease forwards;
            transform: translateX(-165%);
        }
        &.mouseout::before {
            content: "IN";
            position: absolute;
            animation: outSM .5s ease forwards;
            transform: translateX(0);
        }
    }
}

////MUSIC BUTTON///
.musicBtn {
    width: 8.1%;
    height: 10%;
    bottom: 1.8%;
    height: 4.3%;
    left: .5%;
    position: absolute;
    background: $cyan;
    opacity: .1;
    z-index: 3;
}

@font-face {
    font-family: "main";
    src: url("/assets/font/margaret-bold.woff2") format("woff2"), url("/assets/font/margaret-bold.woff") format("woff");
}

@font-face {
    font-family: "littleTitle";
    src: url("/assets/font/syn_nova_regular.woff2") format("woff2"), url("/assets/font/syn_nova_regular.woff") format("woff");
}

@font-face {
    font-family: "text";
    src: url("/assets/font/titilliumweb-regular.woff2") format("woff2"), url("/assets/font/titilliumweb-regular.woff") format("woff");
}