* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.8;
  }
  46% {
    opacity: 1;
  }
}

@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.8;
  }
  46% {
    opacity: 1;
  }
}

.neon-text {
  text-shadow: 0 0 0 #4cc9f0, 0 0 5px #4cc9f0;
  -webkit-animation: blink 4s infinite alternate 5s;
          animation: blink 4s infinite alternate 5s;
}

a {
  text-transform: none;
  color: #4cc9f0;
}

h1 {
  font-size: 5vh;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 47%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  letter-spacing: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #4cc9f0;
  text-shadow: 0 0 0 transparent, 0 0 5px #4cc9f0;
  text-transform: uppercase;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-animation: blink 4s infinite alternate;
          animation: blink 4s infinite alternate;
}

body {
  margin: 0;
  background: #09021e;
  overflow: hidden;
  color: #4cc9f0;
  font-family: 'margaretbold';
  letter-spacing: 2.5px;
  width: 100%;
}

.colContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -50;
}

.colContainer .col {
  -webkit-clip-path: inset(100% 0% 0% 0%);
          clip-path: inset(100% 0% 0% 0%);
}

.rowContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -50;
}

.rowContainer .row {
  -webkit-clip-path: inset(0% 0% 0% 100%);
          clip-path: inset(0% 0% 0% 100%);
}

.row {
  width: 100%;
  height: 2px;
  background: #0d0437;
  margin-top: 20px;
  opacity: .65;
}

.row.line {
  width: 0;
  position: absolute;
  height: 2px;
  background: #1b355e;
  z-index: -1;
  opacity: 0.35;
}

.row.line__1 {
  bottom: 10.4%;
}

.row.line__2 {
  bottom: 6.1%;
}

.col {
  width: 2px;
  height: 100vh;
  background: #0d0437;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  opacity: .65;
}

.col.line {
  width: 2px;
  height: 0;
  background: #1b355e;
  position: absolute;
  z-index: -1;
  opacity: 0.35;
}

.col.line__1 {
  right: 2.6%;
}

.col.line__2 {
  right: 0.3%;
}

.soundBtn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.5vh;
  position: absolute;
  bottom: 2%;
  left: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: .6;
  z-index: 10;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  cursor: pointer;
}

.soundBtn:hover {
  opacity: 1;
}

.soundBtn h2 {
  font-size: 1.9vh;
  margin-left: 7.5px;
}

.soundBtn .line {
  width: 1px;
  height: 2.5vh;
  background: #4cc9f0;
  display: block;
  margin-left: 2px;
  margin-right: 2px;
}

.soundBtn .line__1 {
  -webkit-animation: btnLine .75s ease-in-out alternate infinite;
          animation: btnLine .75s ease-in-out alternate infinite;
}

.soundBtn .line__2 {
  -webkit-animation: btnLine .75s ease-in-out alternate infinite -.25s;
          animation: btnLine .75s ease-in-out alternate infinite -.25s;
}

.soundBtn .line__3 {
  -webkit-animation: btnLine .75s ease-in-out alternate infinite -.5s;
          animation: btnLine .75s ease-in-out alternate infinite -.5s;
}

.soundBtn .line__4 {
  -webkit-animation: btnLine .75s ease-in-out alternate infinite -.75s;
          animation: btnLine .75s ease-in-out alternate infinite -.75s;
}

.soundBtn .line__5 {
  -webkit-animation: btnLine .75s ease-in-out alternate infinite -1s;
          animation: btnLine .75s ease-in-out alternate infinite -1s;
}

.soundBtn .line__6 {
  -webkit-animation: btnLine .75s ease-in-out alternate infinite -1.25s;
          animation: btnLine .75s ease-in-out alternate infinite -1.25s;
}

.soundBtn .line__7 {
  -webkit-animation: btnLine .75s ease-in-out alternate infinite -1.5s;
          animation: btnLine .75s ease-in-out alternate infinite -1.5s;
}

.soundBtn .line__8 {
  -webkit-animation: btnLine .75s ease-in-out alternate infinite -1.75s;
          animation: btnLine .75s ease-in-out alternate infinite -1.75s;
}

.soundBtn .line__9 {
  -webkit-animation: btnLine .75s ease-in-out alternate infinite -2s;
          animation: btnLine .75s ease-in-out alternate infinite -2s;
}

.soundBtn .line__10 {
  -webkit-animation: btnLine .75s ease-in-out alternate infinite -2.25s;
          animation: btnLine .75s ease-in-out alternate infinite -2.25s;
}

@-webkit-keyframes btnLine {
  0% {
    height: 0vh;
  }
  100% {
    height: 2.5vh;
  }
}

@keyframes btnLine {
  0% {
    height: 0vh;
  }
  100% {
    height: 2.5vh;
  }
}

.container {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.container__logo {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 50%;
  margin: auto;
  opacity: 0;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.container__logo svg {
  position: absolute;
  -webkit-filter: drop-shadow(0 0 2rem #f72585);
          filter: drop-shadow(0 0 2rem #f72585);
}

.container__logo svg .M-bleu {
  color: #f72585;
}

.container__logo svg .I-rouge {
  color: #f72585;
}

.container__compteur {
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  opacity: 0;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.container__rs {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 1.5%;
  bottom: 2%;
}

.container__rs--all {
  width: 40px;
  height: 40px;
  opacity: .2;
  cursor: pointer;
  color: #4cc9f0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.container__rs--fb {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container__rs--fb:hover {
  opacity: 0.6;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  color: #f72585;
}

.container__rs--is {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container__rs--is:hover {
  opacity: 0.6;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  color: #f72585;
}

.container__rs--ln {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container__rs--ln:hover {
  opacity: 0.6;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  color: #f72585;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 2.8vh;
    letter-spacing: 5px;
  }
  .container__logo {
    width: 90%;
    height: 90%;
  }
  .container__compteur {
    font-size: 2.8vh;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2.2vh;
    letter-spacing: 2.5px;
  }
  .container__compteur {
    font-size: 2.2vh;
    letter-spacing: 0;
  }
  .container__rs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container__rs--all {
    width: 30px;
    height: 30px;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  .container__rs--fb {
    margin: 0px 5px 0px 5px;
  }
  .container__rs--is {
    margin: 0px 5px 0px 5px;
  }
  .container__rs--ln {
    margin: 0px 5px 0px 5px;
  }
}

@font-face {
  font-family: 'margaretbold';
  src: url("../data/fonts/margaret-bold-webfont.woff2") format("woff2"), url("../data/fonts/margaret-bold-webfont.woff") format("woff");
}
/*# sourceMappingURL=main.css.map */